@* @* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="container-fluid ee mt-5 px-5">
    <div class="row">
        <div class="">
            <img src="~/images/O1CN01L5FcWy1iazQCc6aqn_!!6000000004430-55-tps-305-46.svg" class="mt-5 mx-5" />
            <h2 class="display-4 fw-bold mx-5 mt-2">
                After-sales protections
            </h2>
            <p class="px-5 pt-4">Additional services and support for eligible products</p>

        </div>

    </div>
</div>

<div class="container-fluid my-5 px-5 bg-light">
    <h1 class="fw-bold">On-site service & free replacement parts</h1>
    <p class="text-muted mt-3">Receive additional support with our on-site installation, maintenance, repair, and free replacement parts services for 1 year after the purchase. Service is provided in your local area or an engineer will come to you. Claim compensation if the service received differs from the agreed terms.</p>
    </div>
<div class="container-fluid px-5 my-5 mt-5">
    <h1 class="fw-bold">How to apply for after-sales service and support</h1>

    <div class="row mt-5">
        <div class="col-12">
            <div class="timeline">
                <div class="d-flex align-items-start mb-4">
                    <div class="me-3">
                        <span class="badge bg-success rounded-pill fs-5">01</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">

                            Find products that support after-sales services
                        </h4>
                        <p>Find product that support "On-site service and free replacement parts" or "Free replacement parts".</p>

                    </div>
                </div>

                <div class="d-flex align-items-start mb-4 mt-5">
                    <div class="me-3">
                        <span class="badge bg-success rounded-pill fs-5">02</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">
                            Apply for service
                        </h4>
                        <p>Go to My orders > Order details to fill in your request.</p>
                        <iframe width="980" height="408" src="https://www.youtube.com/embed/GCYUiYmez40" title="How to Apply Online Procedure....." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>

                <div class="d-flex align-items-start mt-5">
                    <div class="me-3">
                        <span class="badge bg-success rounded-pill fs-5">03</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">

                            Receive service
                        </h4>
                        <p>

                            Receive service
                            Seller provides a solution, or you are eligible for compensation. To view your after-sales requests, go to My Pakmart > Orders > Refund Requests > After-sales services.
                        </p>
                       

                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5 px-5 tt pt-5">
    <div class="row g-3">
        <div class="col-lg-3 col-md-6">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-file-alt fa-2x mb-2"></i>
                <h4>Terms & Conditions</h4>
                <a href="#" class="text-dark">Read</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-download fa-2x mb-2"></i>
                <h4>Trade Assurance guide</h4>
                <a href="#" class="text-dark">Download</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-headset fa-2x mb-2"></i>
                <h4>Customer Service</h4>
                <a href="#" class="text-dark">Get Help</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-video fa-2x mb-2"></i>
                <h4>Video tutorials</h4>
                <a href="#" class="text-dark">Watch</a>
            </div>
        </div>
    </div>
</div>

