@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="container-fluid mt-4 px-5 mb-5">
    <div>
        <h1>Pakmart.com Reads</h1>
        <p class="text-muted fs-2">Your source for industry knowledge, news, and expert insights</p>
    </div>
    <h1 class="mb-4 mt-5 text-muted">Latest Posts</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <img src="~/images/download (7).jpeg" class="card-img-top" alt="Main article image">
                <div class="card-body">
                    <h5 class="card-title">Selecting the Optimal EDM Machine: A Comprehensive Guide for Business Buyers</h5>
                    <p class="card-text border-top">Arthur • 02/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <div>
                        <small class="text-muted">GET STARTED</small>
                        <h6 class="mb-3">What to Know About Scams on Alibaba.com and How to Avoid Them</h6>
                        <small>Roy Nnalue • 01/28/2025</small>
                    </div>
                    <div class="ms-5">
                        <img src="~/images/Papers-with-scam-written-on-the-front-page-1.webp" class="w-100" alt="Scam warning papers">
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <div class="flex-grow-1">
                        <small class="text-muted">LATEST NEWS</small>
                        <h6 class="mb-3">Google Quantum Chip Completes 1 Trillion-Year Calculation</h6>
                        <small>ifanr • 01/22/2025</small>
                    </div>
                    <div class="ms-5">
                        <img src="~/images/images (37).jpeg" class="w-100" alt="Quantum chip">
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <div>
                        <small class="text-muted">LATEST NEWS</small>
                        <h6 class="mb-3">Chinese AI Model Zhipu Secures $410 Million Funding</h6>
                    <small>ifanr • 01/22/2025</small>
                    </div>
                    <div class="ms-5">
                        <img src="~/images/images (38).jpeg" class="w-100" alt="Quantum chip">
                    </div>

                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <div>
                        <small class="text-muted">LATEST NEWS</small>
                    <h6 class="mb-3">AI Video Tool That’s Trending on Rednote Revolutionizes Editing</h6>
                    <small>ifanr • 01/22/2025</small>
                    </div>
                    <div class="ms-5">
                        <img src="~/images/images (39).jpeg" class="w-100" alt="Quantum chip">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row g-4">
        <div class="col-md-4">
            <h4 class="text-success">Apparel & Accessories</h4>
            <div class="card">
                <img src="~/images/images (40).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">Woven Wonders: Innovative Men’s Tops Trending for Autumn/Winter 2024/25</h6>
                    <p class="card-text border-top">Lela • 01/31/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-success">Consumer Electronics​</h4>
            <div class="card">
                <img src="~/images/istockphoto-1332379666-612x612.jpg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        Happy senior man in wireless headphone, sitting on cozy couch in living room
                        Wanna Hear the Buzz on the Hottest Open-Ear Headphones
                    </h6>
                    <p class="card-text border-top">Arthur • 01/31/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-success">Machinery</h4>
            <div class="card">
                <img src="~/images/images (42).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        Close up scene the laser welding process by hand held laser welding machine
                        Choosing the Right Handheld Laser Welder for Your Inventory
                    </h6>
                    <p class="card-text border-top">Arthur • 02/02/2025</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 mt-1">
        <div class="col-md-4">
          
            <div class="card">
                <img src="~/images/images (43).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">Denim Reimagined: Autumn/Winter 2024/25’s Bold New Directions</h6>
                    <p class="card-text border-top">Lela • 01/31/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
            <div class="card">
                <img src="~/images/images (44).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        Review Analysis of Amazon’s Hottest Selling Phone Cases in the US
                    </h6>
                    <p class="card-text border-top">Arthur • 01/31/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           
            <div class="card">
                <img src="~/images/images (45).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        Top Factors to Consider When Choosing a Labeling Machine for Your Business
                    </h6>
                    <p class="card-text border-top">Arthur • 02/02/2025</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-5">
        <div class="col-md-4">
            <h4 class="text-success">Beauty & Personal Care</h4>
            <div class="card">
                <img src="~/images/images (46).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">The Rising Popularity of Pubic Hair Trimmers</h6>
                    <p class="card-text border-top">Kim • 02/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-success">Renewable Energy​</h4>
            <div class="card">
                <img src="~/images/turkey-installed-1-14-gw-solar-in-2021_00.webp" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        North America Solar PV News Snippets: USITC Takes up Trinasolar’s Patent Complaint Agains
                    </h6>
                    <p class="card-text border-top">TaiyangNews • 01/19/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-success">Vehicle Parts & Accessories</h4>
            <div class="card">
                <img src="~/images/car-polish.webp" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        Review Analysis of Amazon’s Hottest Selling Car Polish Products in the US
                    </h6>
                    <p class="card-text border-top">Vivian • 01/31/2025</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-1">
        <div class="col-md-4">
         
            <div class="card">
                <img src="~/images/images (48).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-2">
                    <h6 class="card-title">How to Get Fluffy Hair: Your Ultimate Guide to Voluminous Locks</h6>
                    <p class="card-text border-top">Kim • 02/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           
            <div class="card">
                <img src="~/images/images (49).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-3">
                    <h6 class="card-title">
                        European Commission Nod to €9.7b Italian Renewable Energy Scheme
                    </h6>
                    <p class="card-text border-top">TaiyangNews • 01/19/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
            <div class="card">
                <img src="~/images/car-holder-1.webp" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        car holder
                        How to Choose the Right Car Phone Holder in 2025: A Comprehensive Guide for Global Online
                    </h6>
                    <p class="card-text border-top">Vivian • 01/31/2025</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 mt-5">
        <div class="col-md-4">
            <h4 class="text-success">Packaging & Printing</h4>
            <div class="card">
                <img src="~/images/images (52).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">Market Pressures Drive Packaging and Label Changes</h6>
                    <p class="card-text border-top">Packaging-gateway.com • 01/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-success">Sports​</h4>
            <div class="card">
                <img src="~/images/Push-Scooter-1.webp" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-4">
                    <h6 class="card-title">
                        Review Analysis of Amazon’s Hottest Selling Scooters in the US
                    </h6>
                    <p class="card-text border-top">John Jing • 02/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-success">Home & Garden</h4>
            <div class="card">
                <img src="~/images/A-person-in-socks-standing-on-electronic-weighing-scale.webp" class="card-img-top img-fluid " alt="Person Image">
                <div class="card-body mb-4">
                    <h6 class="card-title">
                        Essential Guide to Household Scales: Trends, Types, and Tips for SelectionS
                    </h6>
                    <p class="card-text border-top">Ivy • 02/02/2025</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-1">
        <div class="col-md-4">

            <div class="card">
                <img src="~/images/images (55).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">The Rise of Folding Cartons in Plastics Substitution</h6>
                    <p class="card-text border-top">Packaging-gateway.com • 01/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <img src="~/images/images (56).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-4">
                    <h6 class="card-title">
                        Review analysis of Amazon’s hottest selling basketball training equipment in the US
                    </h6>
                    <p class="card-text border-top">John Jing • 02/02/2025</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <img src="~/images/images (57).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="card-title">
                        Review analysis of Amazon’s hottest selling kitchen scissors in the USA
                    </h6>
                    <p class="card-text border-top">Ivy • 02/02/2025</p>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="container-fluid px-5 py-5">
                <div class="row">
                    <div>
            <p class="lead">Pakmart.com Reads</p>
            <h1 class="border-start border-success border-5 fw-bold">Your source for comprehensive and timely B2B news</h1>
            <p class="mt-5 text-muted">Pakmart.com Reads is a buyer-oriented content platform for Pakmart.com, one of the world’s leading B2B e-commerce marketplaces. Our post aims to consolidate informative articles on international trade events, cross-border procurement tips, industry trends, and sourcing recommendations for our readers. To be your go-to digital sourcing guide is our aim and mission.</p>
                    </div>

                </div>
            </div>