
    <!-- Welcome Section -->
@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@


    <div class="container-fluid py-5">

        <div class="scrollable-row d-flex overflow-auto ">
            <!-- Karachi -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/download (1).jpeg" class="rounded-circle " alt="Karachi" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Karachi</h5>
            </div>
            <!-- Lahore -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/images (3).jpeg" class="rounded-circle " alt="Lahore" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Lahore</h5>
            </div>
            <!-- Islamabad -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/download (2).jpeg" class="rounded-circle " alt="Islamabad" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Islamabad</h5>
            </div>
            <!-- Peshawar -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/download (3).jpeg" class="rounded-circle " alt="Peshawar" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Peshawar</h5>
            </div>
            <!-- Quetta -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/images (4).jpeg" class="rounded-circle " alt="Quetta" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Quetta</h5>
            </div>
            <!-- Multan -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/download (4).jpeg" class="rounded-circle " alt="Multan" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Multan</h5>
            </div>
            <!-- Faisalabad -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/images (5).jpeg" class="rounded-circle  " alt="Faisalabad" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Faisalabad</h5>
            </div>
            <!-- Hyderabad -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/images (6).jpeg" class="rounded-circle " alt="Hyderabad" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Hyderabad</h5>
            </div>
            <!-- Sialkot -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/download (5).jpeg" class="rounded-circle " alt="Sialkot" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Sialkot</h5>
            </div>
            <!-- Rawalpindi -->
            <div class="text-center flex-shrink-0" style="width: 9rem;">
                <img src="~/images/download (6).jpeg" class="rounded-circle " alt="Rawalpindi" style="width: 100px; height: 100px;">
                <h5 class="mt-3">Rawalpindi</h5>
            </div>
        </div>
    </div>


    <div class="container-fluid py-3 px-5 ">
        <div class="row g-1">
            <h2 class="mb-4 ">Get product inspiration</h2>


            <!-- Product Card 1 -->
            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic84.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">2024 Latest Fashion Women's Crossbody Bag Stone Pattern Embossed Genuine Leather Lining Solid Color PU Canvas Lining Lady</h6>
                    <p class="mb-1">
                        <span class="fw-bold">$2.20-3.00</span><br />
                        <span class="text-muted">Min. order: 2 pieces</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>

            <!-- Product Card 2 -->
            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic89.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">Summer Outdoor Sports Work Boots Anti-Stab Midsole Steel Toe Rubber Outsole-Safety Hiking Shoes EVA PU Protection Factories</h6>
                    <p class="mb-1">
                        <span class="fw-bold">$4.68-4.88</span><br />
                        <span class="text-muted">Min. order: 2 pieces</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>
            <!-- Product Card 3 -->

            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic90.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">Built-in pen 5G 16g+1gb 7.3 inch large screen smart high-end Android 16Pro Max mobile phone</h6>
                    <p class="mb-1">
                        <span class="fw-bold">$50.00-59.00</span><br />
                        <span class="text-muted">Min. order: 2 pieces</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>

            <!-- Product Card 4 -->
            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic91.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">Wholesale Valentines Day Gift for Girlfriend Artificial Rose Flower With LED Light In PVC Bottle for Love</h6>
                    <p class="mb-1">
                        <span class="fw-bold">$2.61-2.91</span><br />
                        <span class="text-muted">Min. order: 2 sets</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>

            <!-- Product Card 1 -->
            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic92.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">2025 Wholesale Mini Capsule Lip Gloss 18 Colors Waterproof Lasting Easy to Carry High Matte Saturation Lipstick for Makeup</h6>
                    <p class="mb-1">
                        <span class="fw-bold">
                            $1.10-16.80
                        </span><br />
                        <span class="text-muted">Min. order: 1000 pieces</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>

            <!-- Product Card 2 -->
            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic93.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">Wholesale Custom Gym Tracksuit 100% Cotton solid Color Men Tracksuit</h6>
                    <p class="mb-1">
                        <span class="fw-bold">
                            $12.00-15.00
                        </span><br />
                        <span class="text-muted">Min. order: 5 sets</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>
            <!-- Product Card 3 -->

            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic94.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">Fashion Bling Protective Case for iPhone 20W USB-C Cable Adapter Charger Cable Protector</h6>
                    <p class="mb-1">
                        <span class="fw-bold">
                            $0.80-0.95
                        </span><br />
                        <span class="text-muted">Min. order: 20 pieces</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>

            <!-- Product Card 4 -->
            <div class=" col-lg-3 card border-0">
                <img src="~/images/pic95.png" class="card-img-top img-fluid" alt="Product 1">
                <div class="card-body text-center">
                    <h6 class="card-title text-truncate">Double Canvas Bag Large Capacity Canvas Tote Bags customizable</h6>
                    <p class="mb-1">
                        <span class="fw-bold">
                            $6.00
                        </span><br />
                        <span class="text-muted">Min. order: 10 pieces</span>

                    </p>
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <span>
                            <p>1 yr . <img src="~/images/pic88.png" class="w-25" /> PK</p>
                        </span>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid mt-5 px-5">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h2>Top-viewed products</h2>
            </div>

        </div>

        <div class="row mt-5 ">
            <!-- Shopping Bags Section -->
            <div class="col-12 col-md-6 col-lg-4 mb-5 ">
                <h4 class="border-bottom">Men's Outerwear Sets</h4>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic121.png" alt="Shopping Bag 1" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.5</p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic122.png" alt="Shopping Bag 2" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.4</p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic123.png" alt="Shopping Bag 3" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.3</p>
                </div>
            </div>

            <!-- Lipstick Section -->
            <div class="col-12 col-md-6 col-lg-4 mb-5 ">
                <h4 class="border-bottom">Plus Size Men's Hoodies</h4>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic124.png" alt="Lipstick 1" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.6</p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic125.png" alt="Lipstick 2" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.6</p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic126.png" alt="Lipstick 3" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.5</p>
                </div>
            </div>

            <!-- Niacinamide Skin Care Serum Section -->
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <h4 class="border-bottom">Sweet Chocolate</h4>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic127.png" alt="Serum 1" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.1</p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic128.png" alt="Serum 2" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.0</p>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <img src="~/images/pic129.png" alt="Serum 3" class="w-25" />
                    <p class="fs-5 mx-1">Ranking score: 4.0</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-4 mb-5 px-5">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h2>New arrivals</h2>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-md-end mt-3 mt-md-0">
                <button class="btn btn-outline-success">View more</button>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic130.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Modern Accessories Toilet Towel Storage Holders For Bathrooms Hanging Folding Towel Organizer Drying Rack Set</h6>
                    <p><span class="fw-bold">$0.50-1.00</span><br />Min. order 1 bag</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic131.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Men's spring new breathable white shoes all-match shoes men's wear-resistant sports casual shoes</h6>
                    <p><span class="fw-bold">$8.58-8.88</span><br />Min. order 1 piece</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic132.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">2023 2024 BOBCAT S CLASS SKID STEER TRACK LOADER</h6>
                    <p><span class="fw-bold">$5,000.00</span><br />Min. order 1 unit</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic133.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">SURE CF MOTO CFORCE 1000cc CFMOTO 1000cc 4X4 EFI EPS NEW</h6>
                    <p><span class="fw-bold">$500.00</span><br />Min. order 2 unit</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic134.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Latest TURBO ENGINE 2023 Aero 3S T-Rex 3 Wheel Drive with Excellent Sound System for sale</h6>
                    <p><span class="fw-bold">$250.00-450.00</span><br />Min. order 2 unit</p>

                </div>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic135.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Medical Equipment Tool Design Nursing Pack Stethoscopes Care Kit POD Customized Student Organizer Pouch Belt Bag for Pharmacists</h6>
                    <p><span class="fw-bold">$0.98-1.30</span><br />Min. order 20 piece</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic136.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Top Genuine Best Quality For PartyBox Speaker Series1000, 1100, 200, 300, 310, 710 High Power Portable Wireless Available</h6>
                    <p><span class="fw-bold">$300.00</span><br />Min. order 5 units</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic137.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Extremely Potent Organic Shilajit 15 Grams Shilajit Resin Sourced at 17000+ Feet In Himalayan Mountains Skardu Pakistan</h6>
                    <p><span class="fw-bold">$1.00-1.60</span><br />Min. order 15 grams</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic138.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Wholesale kraft paper bag china eco friendly kraft paper bag with logos reusable 100% recyclable</h6>
                    <p><span class="fw-bold">$0.01-0.12</span><br />Min. order 500 bages</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic139.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Authentic Sales Quality Yamahas YFZ 450R ATV | High-Performance Sport Quad Available</h6>
                    <p><span class="fw-bold">$1,000.00</span><br />Min. order 3 unit</p>

                </div>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic140.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Kashmiri Shawl Shemagh Scarves Durable and Breathable Cotton Blend for Outdoor Tactical Use Custom Logo Available</h6>
                    <p><span class="fw-bold">$8.40-9.00</span><br />Min. order 25 units</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic141.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">100% ORIGINAL NEW 2021 B M W K 1600 GTL Manhattan Met</h6>
                    <p><span class="fw-bold">$1,000.00</span><br />Min. order 2 units</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic142.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Women Shoulder Bags Luxury Leather Handbags Solid Color Crossbody Bags</h6>
                    <p><span class="fw-bold">$14.99-25.99</span><br />Min. order 20 piece</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic143.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Genuine Best Quality For CRF450R Works Edition Trike Tricycle E-Bike Adult 3-Wheel Electric Scooter | Off-Road Adventure</h6>
                    <p><span class="fw-bold">$650.00</span><br />Min. order 2 units</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic144.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">100% Cotton Towels- Hotel High Quality Hotel Towels</h6>
                    <p><span class="fw-bold">$0.08-0.20</span><br />Min. order 600 pieces</p>

                </div>
            </div>
        </div>


        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic145.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Modern Design Furniture Accessories Plastic Spraying Wardrobe Drawer Cabinet Zinc Alloy Pull Handle Kitchen Furniture Handle</h6>
                    <p><span class="fw-bold">$0.10-0.30</span><br />Min. order 2 pieces</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic146.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Black Portable Single Cup Coffee Maker 2 In 1 Small Automatic K Cups Coffee Machines For Ground Coffee Home Offices</h6>
                    <p><span class="fw-bold">$18.00</span><br />Min. order 500 pieces</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic147.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Custom Design Handmade Pakistani Women Shawls Scarves for Eid| Wedding| Parties Ethnic Embroidered Shawls Muslim Women Clothing</h6>
                    <p><span class="fw-bold">$14.00-20.00</span><br />Min. order 50 piece</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic148.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">HOT SALE Folding Cloth Machine with Laundry Mode Extra Accessary For Bulk</h6>
                    <p><span class="fw-bold">$150.00</span><br />Min. order 5 units</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic149.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">OEM/ODM RTS floor price 16oz Sublimation Clear Frosted Can Glass Mug 16oz Beer Can Cups With Bamboo Lid And Straws</h6>
                    <p><span class="fw-bold">$0.46-0.98</span><br />Min. order 25 pieces</p>

                </div>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic150.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">High Quality Custom Luxury Brand Green Wood Leather Watch Box Paper Case for Rolex Watch Storage and Gift Purpose</h6>
                    <p><span class="fw-bold">$8.50-18.50</span><br />Min. order 2 pieces</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic151.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Organic Food Grade Natural Himalayan Medium Course Pink Salt full of Minerals Fine Table Rock Salt for Cooking</h6>
                    <p><span class="fw-bold">$0.10-0.35</span><br />Min. order 17000 kilograms</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic152.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Wholesale Soapnuts/ Organic Soap nuts with best price</h6>
                    <p><span class="fw-bold">$0.38-0.45</span><br />Min. order 50 kiloamperes</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic153.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Ready Made 40Ft 20Ft Shipping Prefab Container Expandable House For Sale Light Steel Folding Prefabricated Home Villa 5 Bedroom</h6>
                    <p><span class="fw-bold">$800.00-2,600.00</span><br />Min. order 1 units</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic154.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Purorigin Wholesale Customize Pattern Kids Cartoon Toddler Hoodie One-piece Soft Skin-friendly Long-sleeved Autumn Clothing Set</h6>
                    <p><span class="fw-bold">$1.80-2.10</span><br />Min. order 50 pieces</p>

                </div>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic155.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Hot Selling Wholesale Preserved Real Roses Eternal Rose in Glass Dome LED Lighted Artificial Christmas Wedding Decoration Flower</h6>
                    <p><span class="fw-bold">$12.00-20.00</span><br />Min. order 5 pieces</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic156.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Allover Stones Fancy Khussa New Design Wholesale Foot Wear Khussa Shoes Punjabi Jutti For Women with Matching Purse Clutch</h6>
                    <p><span class="fw-bold">$4.00-8.00</span><br />Min. order 25 pairs</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic157.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Luxury Custom Handmade Rigid Cardboard Wholesale Gift Packaging jewelry boxes Box</h6>
                    <p><span class="fw-bold">$0.20-0.32</span><br />Min. order 10 pieces</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic158.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Creative Rotating Soap Rose Jewelry Packaging Box Flower Reversible Proposal Confession Ring Necklace Box</h6>
                    <p><span class="fw-bold">$5.00-6.00</span><br />Min. order 2 pieces</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic159.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Low Price Priest Embroidered Vestment Top Trending Custom Made Priest Embroidered Vestment</h6>
                    <p><span class="fw-bold">$24.00-30.00</span><br />Min. order 20 pieces</p>

                </div>
            </div>
        </div>


        <div class="row mt-3 d-flex justify-content-between">
            <!-- First Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic160.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">Luxury Small Ring Necklace Jewelry Organizer Box PU Leather a to Z Travel Storage Case Mirror Square Velvet Gift Box Patterned</h6>
                    <p><span class="fw-bold">$1.80-2.50</span><br />Min. order 2 pieces</p>

                </div>
            </div>

            <!-- Second Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic161.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">New High quality women khussa shoes women's summer round head mesh and stylish work women khussa shoes</h6>
                    <p><span class="fw-bold">$4.50-6.00</span><br />Min. order 10 pairs</p>

                </div>
            </div>

            <!-- Third Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic162.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">[Favorite] DR101 Mini Dress Women's square neck with falling straps & puffy skirt in 3 colors RED BLACK WHITE with inner lining</h6>
                    <p><span class="fw-bold">$6.00-7.00</span><br />Min. order 50 pieces</p>

                </div>
            </div>

            <!-- Fourth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic163.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">PHOFAY Juicy Lip Plump</h6>
                    <p><span class="fw-bold">$3.07</span><br />Min. order 2 pieces</p>

                </div>
            </div>

            <!-- Fifth Item -->
            <div class="col-12 col-sm-6 col-lg-2 text-center">
                <div>
                    <img src="~/images/pic164.png" class="img-fluid rounded" alt="Product 1" />
                    <h6 class="text-truncate">dress maxi lady women'clothing cheap price dress fashion 2024 Casual Reasonable Price silk mango Casual Washable Customize</h6>
                    <p><span class="fw-bold">$5.80-6.20</span><br />Min. order 3 pieces</p>

                </div>
            </div>
        </div>
    </div>


  
