@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="container-fluid zz mt-5 ">
    <div class="row">
        <div class="">
            <img src="~/images/O1CN01L5FcWy1iazQCc6aqn_!!6000000004430-55-tps-305-46.svg" class="mt-5 mx-5" />
            <h2 class="display-4 fw-bold mx-5 mt-2">
                Safe & easy payments
            </h2>
            <p class="px-5">Pay using your preferred payment method and currency</p>
           
        </div>

    </div>
</div>

<div class="container-fluid my-5 px-5">
    <h1 class="fw-bold">How Pakmart.com keeps your payments secure and simple</h1>
    <p class="text-muted">Every payment made through Pakmart.com is SSL-encrypted, PCI DSS compliant, and processed in as quickly as 2 hours.<br>To protect your payment, never pay outside of the platform.</p>

    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <div class="card border-0 shadow p-4">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <span class="fs-2">🔗</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">Diverse ways to pay</h4>
                        <p class="text-muted">Pay with credit/debit cards, PayPal, Apple Pay, Google Pay, Afterpay/Clearpay, and more through our online checkout.</p>
                        <p class="text-muted">You can also make bank-to-bank wire transfers with escrow protection using the official bank information provided by Pakmart.com.</p>
                        <p class="text-muted">To save on conversion fees, we support over 20 currencies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 ">
            <div class="card shadow p-4 border-0">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <span class="fs-2">💰</span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-2 lh-lg">Flexible financing</h4>
                        <p class="text-muted">Use any payment method to make an initial payment and settle the remaining balance with our deferred payment service.</p>
                        <p class="mb-5 mt-4 text-muted">Payment Terms: 30/60 Days* or contact the supplier directly to settle the terms.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-muted">*Payment Terms: 30/60 Days is only available for select buyers. First-time users must apply and get credit amount approval. Refer to the Payment Terms page for full details.</p>
</div>

<div class="container-fluid px-5 my-5 mt-5">
    <h1 class="fw-bold">How to order and pay with Trade Assurance</h1>

    <div class="row mt-5">
        <div class="col-12">
            <div class="timeline">
                <div class="d-flex align-items-start mb-4">
                    <div class="me-3">
                        <span class="badge bg-success rounded-pill fs-5">01</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">Find a supplier that supports Trade Assurance</h4>
                    </div>
                </div>

                <div class="d-flex align-items-start mb-4 mt-5">
                    <div class="me-3">
                        <span class="badge bg-success rounded-pill fs-5">02</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">Check out or settle details with supplier</h4>
                        <p><strong>For ready-to-ship products</strong></p>
                        <p>Select "Start order" on the product you wish to buy and proceed to check out.</p>
                        <p><strong>For customized products</strong></p>
                        <p>Settle the order details by contacting the supplier directly through Messenger, sending a Request for Quotation, or an order request. The supplier should then draft an order for you to confirm.</p>
                    </div>
                </div>

                <div class="d-flex align-items-start mt-5">
                    <div class="me-3">
                        <span class="badge bg-success rounded-pill fs-5">03</span>
                    </div>
                    <div>
                        <h4 class="fw-bold">Pay using your preferred payment method and currency</h4>
                        <iframe width="880" height="408" src="https://www.youtube.com/embed/-4Oe8Lepivk" title="Setting Up A PayPal Preferred Method | Changing Your Pay Pal Preferred Payment Method" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="mt-5 mx-5 rounded"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mb-5 px-5 tt pt-5">
    <div class="row g-3">
        <div class="col-lg-3 col-md-6">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-file-alt fa-2x mb-2"></i>
                <h4>Terms & Conditions</h4>
                <a href="#" class="text-dark">Read</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-download fa-2x mb-2"></i>
                <h4>Trade Assurance guide</h4>
                <a href="#" class="text-dark">Download</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-headset fa-2x mb-2"></i>
                <h4>Customer Service</h4>
                <a href="#" class="text-dark">Get Help</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card shadow text-dark p-3 text-center">
                <i class="fas fa-video fa-2x mb-2"></i>
                <h4>Video tutorials</h4>
                <a href="#" class="text-dark">Watch</a>
            </div>
        </div>
    </div>
</div>
