@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="container-fluid one mt-5 px-5">
    <div class="row">
        <div class="col-md-8">
            <img src="/images/O1CN01L5FcWy1iazQCc6aqn_!!6000000004430-55-tps-305-46.svg" class="img-fluid mb-5" alt="Success Stories Logo" />
            <h2 class="display-4 fw-bold mb-3">Success Stories</h2>
            <p class="lead mb-5">How buyers and sellers like you succeed in business with Pakmart.com</p>
        </div>
    </div>
</div>

<div class="container-fluid py-5 px-5">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/0x0.webp" class="card-img-top img-fluid" alt="Person Image" >
                <div class="card-body">
                    <h6 class="text-muted">Beauty & Personal Care</h6>
                    <h5 class="card-title">Beautifully Blending Customization and Quality</h5>
                    <p class="card-text">"I have been devoted to creating original products in the beauty industry, and Pakmart.com has been my trusted partner in that process."</p>
                    <span class="badge bg-success">Beauty & Personal Care</span>
                    <span class="badge bg-success">Succeed in ecommerce</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/images (24).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="text-muted">Beauty & Personal Care</h6>
                    <h5 class="card-title">Making Safe, Sustainable Personal Care Products Available to Everyone</h5>
                    <p class="card-text">"The world deserves a better toothpaste, and businesses deserve better digital sourcing solutions."</p>
                    <span class="badge bg-success">Expand to global markets</span>
                    <span class="badge bg-success">Beauty & Personal Care</span>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/images (25).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="text-muted">Sports & Entertainment</h6>
                    <h5 class="card-title">How Strong Partnerships Kept Noel's Business Active</h5>
                    <p class="card-text">"With RFQ, I received fast responses from multiple suppliers; finding the correct one simple; I've been with the same supplier for 4 years."</p>
                    <span class="badge bg-success">Start up a business</span>
                    <span class="badge bg-success">Sports & Entertainment</span>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/images (26).jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="text-muted">Beauty & Personal Care</h6>
                    <h5 class="card-title">How Pakmart.com help Silly Farm to became the world's largest face and body art supply company</h5>
                    <p class="card-text">"Hear from Heather Green, owner of Silly Farm Supplies – the world's largest face and body art supply company – as she describes her seven years of experience"</p>
                    <span class="badge bg-success">Beauty & Personal Care</span>
                    <span class="badge bg-success">Succeed in ecommerce</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/young-handsome-attractive-asian-man-clean-radiant-face-male-beauty-skin-care-concepts-young-handsome-attractive-asian-167617572.webp" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h6 class="text-muted">Beauty & Personal Care</h6>
                    <h5 class="card-title">Pakmart.com helped Jubal to establish strong relationships with high-quality suppliers</h5>
                    <p class="card-text">"JDID is a catalyst for innovation and your partner to bring big ideas to reality. They’re an industrial design"</p>
                    <span class="badge bg-success">Expand to global markets</span>
                    <span class="badge bg-success">Beauty & Personal Care</span>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/glass-skin-GettyImages-1194475408-37acd03626ef480d9ef6f70fd01d98f4.jpg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-4">
                    <h6 class="text-muted">Beauty & Personal Care</h6>
                    <h5 class="card-title">Trade Assurance by Pakmart.com Empowers Dalior Advanced Clinical Aesthetics to Build Its Brand</h5>
                    <p class="card-text">"Upon completing her cosmetic license, Dalior Advanced Clinical Aesthetics (Dalior) co-founder and owner, Ximena Juarez"</p>
                    <span class="badge bg-success">Start up a business</span>
                    <span class="badge bg-success">Sports & Entertainment</span>

                </div>
            </div>
        </div>
    </div>

    
        <div class="row g-4 mt-4">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (27).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Food & Beverage</h6>
                        <h5 class="card-title">Pakmart.com is Magic for iSpice Foods</h5>
                        <p class="card-text">
                            “When I go on Pakmart.com, I have a hard time coming out of it to be very honest with you. You can be looking for equipment or raw materials, then in two seconds you're looking for socks."
                        </p>
                        <div>
                            <span class="badge bg-success">Food & Beverage</span>
                            <span class="badge bg-success">Succeed in ecommerce</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (28).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Electronic Components</h6>
                        <h5 class="card-title">Pakmart.com Helps Robosource.net Deliver Customized Parts</h5>
                        <p class="card-text">
                            “Overall, I would say that using Pakmart.com for sourcing really simplifies the process for us.” – Kevin Boenisch, Founder
                        </p>
                        <div>
                            <span class="badge bg-success">Electronic Components</span>
                            <span class="badge bg-success">Beauty & Personal Care</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (29).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Luggage</h6>
                        <h5 class="card-title">How Does Max Pocket Great Profit with Dog Poop Bags?</h5>
                        <p class="card-text">
                            "We're very unique in the market, which is something that I always wanted to be with any product that I created. We’ve done really well, and we couldn't have done it without..."
                        </p>
                        <div>
                            <span class="badge bg-success">Luggage</span>
                            <span class="badge bg-success">Sports & Entertainment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


   
        <div class="row g-4 mt-4">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (30).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Vehicles & Accessories</h6>
                        <h5 class="card-title">How Do One-stop Services Make Sad Car LLC A Happy Customer?</h5>
                        <p class="card-text">
                            "We had a decent little business with just the new stuff and the new stock parts. Now with the parts from Pakmart.com have completely dominated our business! It’s somewhere between 80 to 90"
                        </p>
                        <div>
                            <span class="badge bg-success">Vehicles & Accessories</span>
                            <span class="badge bg-success">Succeed in ecommerce</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (31).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Apparel</h6>
                        <h5 class="card-title">How does Robert profit from competitive pricing on Pakmart.com?</h5>
                        <p class="card-text">
                            "At Martini Incentives, we feel we have a strong competitive advantage against other companies in this industry for how quickly we are able to respond to our client's needs. We realize time is"
                        </p>
                        <div>
                            <span class="badge bg-success">Apparel</span>
                            <span class="badge bg-success">Beauty & Personal Care</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/gold-fashionable-elegant-watch-classic-260nw-2477327319.webp" class="card-img-top img-fluid" alt="Person Image" style="height: 150px;">
                    <div class="card-body">
                        <h6 class="text-muted">Timepieces</h6>
                        <h5 class="card-title">How Does Pakmart.com Offer Global Resources to Chelsea Taylor without Them Needing to Board A Plane?</h5>
                        <p class="card-text">
                            "Trade Assurance has really alleviated a lot of fear for us as a U.S. company… We no longer worry as Pakmart.com gives you a sense of security that if something should go wrong"
                        </p>
                        <div>
                            <span class="badge bg-success">Timepieces</span>
                            <span class="badge bg-success">Sports & Entertainment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  


    
        <div class="row g-4 mt-4">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/istockphoto-1334041236-612x612.jpg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Packaging & Printing</h6>
                        <h5 class="card-title">Why Does Mark Call Pakmart.com A "Lifesaver" for Global Sourcing?</h5>
                        <p class="card-text">
                            "Pakmart.com gives me overwhelming access to hundreds of thousands of suppliers that are flexible and customized in responding to my inquiries, while also offering a reasonable price."
                        </p>
                        <div>
                            <span class="badge bg-success">Packaging & Printing</span>
                            <span class="badge bg-success">Succeed in ecommerce</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/istockphoto-1454530428-612x612.jpg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Business Services</h6>
                        <h5 class="card-title">How Pakmart.com Bolstered a U.S. Online Retail Brand During COVID-19 and Beyond</h5>
                        <p class="card-text">
                            “Before Pakmart.com, I was working with three or four different companies to collect my product. But now, my verified supplier is one company that produces everything I need.”
                        </p>
                        <div>
                            <span class="badge bg-success">Business Services</span>
                            <span class="badge bg-success">Beauty & Personal Care</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (32).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Apparel</h6>
                        <h5 class="card-title">Pakmart.com Offers a Growing Start-Up the Resources to Flourish</h5>
                        <p class="card-text">
                            “Pakmart.com offers a mind-blowing experience to find reliable vendors.” – Kimberly Mitchell, Owner and Founder, KMitchell Collections
                        </p>
                        <div>
                            <span class="badge bg-success">Apparel</span>
                            <span class="badge bg-success">Sports & Entertainment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   


    
        <div class="row g-4 mt-4">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (33).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Health & Medical</h6>
                        <h5 class="card-title">Pakmart.com Facilitates All Prime LLC’s Mission to Bring Unique Products to Market</h5>
                        <p class="card-text">
                            In working with Pakmart.com, Clayton has driven almost $2 million in revenue in the past year alone.
                        </p>
                        <div>
                            <span class="badge bg-success">Health & Medical</span>
                            <span class="badge bg-success">Succeed in ecommerce</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/images (36).jpeg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Business Services</h6>
                        <h5 class="card-title">From Consumer to Retail: Expanding The Customer Base with Pakmart.com’s Support</h5>
                        <p class="card-text">
                            “The availability of suppliers on Pakmart.com with certain certifications and qualifications that we need to be able to make our products retail-ready is absolutely enabling us to be able"
                        </p>
                        <div>
                            <span class="badge bg-success">Business Services</span>
                            <span class="badge bg-success">Beauty & Personal Care</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    <img src="~/images/business-technology-internet-network-concept-260nw-559465321.webp" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Business Services</h6>
                        <h5 class="card-title">How Pakmart.com Enhanced Supplier Relations and Product Discovery for Advertising Agency Incrementum Digital</h5>
                        <p class="card-text">
                            “Pakmart.com understands the quality standards required for our products and is able to deliver them in a timely manner. Overall, these benefits allowed us to generate between $5-7 million"
                        </p>
                        <div>
                            <span class="badge bg-success">Business Services</span>
                            <span class="badge bg-success">Sports & Entertainment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

   
        <div class="row g-4 mt-4">
            <div class="col-md-4 col-sm-6">
                <div class="card h-100">
                    <img src="~/images/istockphoto-525969104-612x612.jpg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Consumer Electronics</h6>
                        <h5 class="card-title">Investing in Pakmart.com Helped NWCA Build & Nurture a Network of Trusted Suppliers</h5>
                        <p class="card-text">“For one RFQ, I connected with almost 100 factories in an instant. Vendors on Pakmart.com reply quickly and you are able to access their detailed background information like number...</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <span class="badge bg-success">Consumer Electronics</span>
                        <span class="badge bg-success">Succeed in Ecommerce</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card h-100">
                    <img src="~/images/istockphoto-950986656-612x612.jpg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Business Services</h6>
                        <h5 class="card-title">Pakmart.com Brings Speed and Agility to Phlatbed’s Production Processes</h5>
                        <p class="card-text">“Pakmart.com is really a strategic partner, it's beyond business.” – Alani Kuye, Founder & CEO of Phlatbed</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <span class="badge bg-success">Business Services</span>
                        <span class="badge bg-success">Beauty & Personal Care</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card h-100">
                    <img src="~/images/gettyimages-182060333-612x612.jpg" class="card-img-top img-fluid" alt="Person Image">
                    <div class="card-body">
                        <h6 class="text-muted">Office & School Supplies</h6>
                        <h5 class="card-title">Readying the Workforce for Success: Blue Summit Supplies Uses Pakmart.com to Provide Workers with High-Quality, Low-Cost Office Supplies</h5>
                        <p class="card-text">Owen Franklin, founder of Blue Summit Supplies, had been working as a thermal engineer and building rocket systems for defense contractors when he began to crave a new...</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <span class="badge bg-success">Office & School Supplies</span>
                        <span class="badge bg-success">Sports & Entertainment</span>
                    </div>
                </div>
            </div>
        </div>
   


</div>

