@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-8 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@

@*         <!-- Wrapped inside a column for proper alignment --> *@
@*         <div class="col-md-4 px-5"> *@
@*             <div class="d-flex gap-2 text-end px-5"> *@
@*                 <img src="@Url.Content("~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png")" *@
@*                      alt="Alibaba.com Logistics" height="27"> *@
@*                 <p class="mb-0 text-decoration-underline"> *@
@*                     <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmar Logistics</a> *@
@*                 </p> *@
@*             </div> *@
@*         </div> *@

@*     </div> *@
@* </div> *@



<div class="container-fluid px-5">
    <div class="col-12">
        <img src="~/images/images (73).jpeg" class="w-100" height="400px" />
    </div>
    <div class="row py-5 g-3 justify-content-center">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">$100</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Sign-up Bonus</h6>
                    <p class="card-text">After spending $3,000 in the first 90 days of account opening.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">$100</h5>
                    <h6 class="card-subtitle mb-3 text-muted">In Pakmart coupons per year</h6>
                    <p class="card-text">Redeem 3 coupons for platform-wide discounts after meeting spending minimums.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">$120</h5>
                    <h6 class="card-subtitle mb-3 text-muted">In shipping discounts per year</h6>
                    <p class="card-text">Offered as a $20 bi-monthly automatic discount to orders shipped via Pakmart Logistics.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">$90</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Order protection</h6>
                    <p class="card-text">Get up to 90 days (instead of 30) to apply for refunds if there are order or delivery issues.</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container-fluid py-5 px-5">
    <div class="d-flex">
        <h1>Your business,<br/><span class="text-success">your rewards</span></h1>
    </div>
    <div class="row align-items-center">
        <!-- Left Side Image -->
        <div class="col-lg-6 text-center">
            <img src="~/images/images (74).jpeg" class="img-fluid rounded" alt="Credit Card Image">
        </div>

        <!-- Right Side Content -->
        <div class="col-lg-6">
            <p>Unlock an average value of $1,420 annually by taking advantage of<br /> your 3% cash back1, Pakmart coupons, and shipping discounts</p>
            <h2 class="text-success fw-bold">$1,420+ <small class="text-dark">annual value</small></h2>
            <hr>
            <div>
                <h5 class="fw-bold">$1,200+</h5>
                <p>3% back on the first $40,000 at Pakmart, 1% back thereafter</p>
            </div>
            <div>
                <h5 class="fw-bold">$100</h5>
                <p>In Pakmart coupons</p>
            </div>
            <div>
                <h5 class="fw-bold">$120</h5>
                <p>In Pakmart shipping discounts</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3 border-0">
                <div class="card-body mb-4">
                    <h2 class="card-title">Sourcing</h2>
                    <p class="card-text mt-5">Earn cash back for products sourced on Pakmart</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3 border-0">
                <div class="card-body ">
                    <h2 class="card-title">Fulfillment</h2>
                    <p class="card-text mt-5">Save with shipping discounts3 in addition to cash back rewards</p>
                </div>
            </div>
        </div>

         <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h2 class="card-title">Financing</h2>
                    <p class="card-text mt-5">Get up to 60 days to pay off your order2 or choose cash back</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h2 class="card-title">Order protection</h2>
                    <p class="card-text">Safeguard purchases with extended 90-day (instead of 30) refunds3</p>
                </div>
            </div>
        </div>
</div>
</div>

<div class="container-fluid px-5">
    <div class="text-center">
        <h1 class="fw-bold">Plus, more ways for <span class="text-success">your business to benefit</span> from every purchase</h1>
        <p>Earn more than just Pakmart rewards with our Business Edge Card</p>

    </div>
    <div class="row py-5 g-3 justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">2%</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Cash back</h6>
                    <p class="card-text">On business categories, advertising, and dining purchases outside of Pakmart. More on rewards.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">1%</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Cash back on all other purchases</h6>
                    <p class="card-text mt-5 mb-3">Wherever Mastercard is accepted.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">$0</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Foreign transaction fees</h6>
                    <p class="card-text mb-3">When you travel abroad and use your Mastercard to make a purchase.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">$0</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Fraud liability charges</h6>
                    <p class="card-text">If your card is lost or stolen, you will not be responsible for unauthorized charges. More on benefits.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">24/7</h5>
                    <h6 class="card-subtitle mb-3 text-muted">Customer service</h6>
                    <p class="card-text mb-4">Talk live to a U.S.-based customer service agent anytime.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow p-3 border-0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">World Elite Mastercard Benefits</h5>
                    <p class="card-text mb-4">Boost productivity, grow reach, and ensure peace of mind for small to mid-sized businesses. More on benefits.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img src="~/images/images (75).jpeg" class="w-100" />
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold">Use <span class="text-success">your card</span> immediately</h1>
            <p class="fs-3 mt-4">As soon as you're approved, you can add your Pakmart Business Edge Card to the<span class="text-success">Apple Wallet</span> ,<span class="text-success"> Google Wallet</span>, or <span class="text-success"> PayPal Wallet</span> on your phone and start using it immediately</p>
        </div>
    </div>

    <div class="row py-5 mt-4">
        <h1 class="text-center text-success fw-bold">Frequently asked questions</h1>
        <div class="accordion accordion-flush py-4" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Does the Pakmart Business Edge Credit Card have an annual fee?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, there is a $199 annual fee². There are no foreign transaction fees or over-the-credit-limit fees. If you carry a balance beyond your payment date, interest charges or late fees may apply. Refer to the Offer terms schedule for more information.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header fw-bold" id="flush-headingTwo">
                    <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Where can I use my card?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The Pakmart Business Edge Credit Card can be used wherever Mastercard is accepted.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header fw-bold" id="flush-headingThree">
                    <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        What if I have questions about the application process?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can contact Cardless at support@cardless.com or call (888) 290-2818. They are available 24/7.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header fw-bold" id="flush-headingFour">
                    <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        What rewards will I get with my Pakmart Business Edge Credit Card?
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Get rewarded for purchases on Pakmart with your choice of cash back rewards or the option of 60 days payment terms, interest free². Plus, earn up to 2% cash back on other purchases outside of Pakmart. You also have access to exclusive World Elite Mastercard benefits. Learn more. Terms and conditions apply.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header fw-bold" id="flush-headingFive">
                    <button class="accordion-button collapsed fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        What is Cardless?
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Cardless makes the Pakmart Business Edge Credit Card. Everything you need for your Pakmart Business Edge Credit Card is available through Cardless, with the safety and security of Mastercard.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-5 mb-5">
    <div class="row">
        <div class="border border-2 border-dark rounded-3" style="height: 600px; overflow-y: scroll;">
            <p>
                <span class="fw-bold fs-2">Offer details</span><br />
                Pakmart Business Edge Credit Card from Cardless
                This product is only available to residents of the U.S. 50 states and District of Columbia and domestic businesses who have an Pakmart Membership.
                <br /><br /><span class="fw-bold fs-2">
                    Earning Redeemable Statement Credit Rewards
                </span><br /><br />
                Choose to earn 3% cash back or 60-day payment terms
                When you use your Pakmart Business Edge Credit Card on Pakmart, you’ll have the option to either earn (i) 3% Back Rewards or (ii) apply Payment Terms to purchases made on their platform. These options will be referred to as your Reward Options.<br /><br />

                Earning 3% Back Rewards is the default Reward Option. If you decide to apply Payment Terms as your Reward Option, you will not earn 3% back on purchases you make, but your purchase will not accrue interest for at least sixty (60) days; the date that interest will begin to accrue on a Payment Terms transaction will be reflected on your card account statement. Please refer to your Cardholder Agreement for more information. The Payment Terms Reward Option may only be available if the profile location for your Alibaba.com Membership is set to the United States at the time of purchase.<br /><br />

                Cardmembership Year Purchase Limitation for Reward Options:<br /><br />
                The Pakmart Rewards Option is subject to an annual purchase limitation of $40,000. Once you make $40,000 of Eligible Purchases on Pakmart in a Cardmembership Year, the Rewards Option will not apply for the remainder of the Cardmembership Year; instead, any Eligible Purchases on Pakmart will earn 1% Back for the remainder of the Cardmembership Year.<br /><br />

                2% Earn Back Purchases<br /><br />
                You will earn 2% Back Rewards on Eligible Purchases charged with merchants whose merchant category code with Mastercard is classified as dining, business or office services, or advertising or marketing services.<br /><br />

                1% Back Earning<br /><br />
                You will earn 1% Back Rewards on all other Eligible Purchases.<br /><br />

                <span class="fw-bold fs-2">
                    Earning $100 Sign-up Bonus Redeemable Statement Credit</span><br/><br/>
                New Pakmart Business Edge Credit Card cardholders approved through this offer will receive one $100 statement credit after making $3,000 in Eligible Purchase(s) in the first 90 days of account opening. Redeemable Statement Credits will be posted to your Rewards Account with Cardless within 12 weeks from when the purchase(s) is made. To earn the $100 Redeemable Statement Credit, your Card Account must not be closed or past due at the time of fulfillment. This offer is only available to residents of the U.S. 50 states and District of Columbia and domestic businesses who have an Pakmart Membership. This offer is not available to either (i) current cardholders of an Pakmart Business Edge Credit Card, or (ii) previous cardholders of a Pakmart Business Edge Credit Card who received a new cardholder bonus or statement credits for their Pakmart Business Edge Credit Card.<br/><br/>

                <span class="fw-bold fs-2">
                    Rewards Categories and Merchant Codes</span><br/><br/>
                Merchants who accept Mastercard cards are assigned a merchant identifier, which is determined by the merchant or its processor in accordance with Mastercard procedures. We use merchant identifiers for the purpose of making rewards offers to you. Purchases submitted by you, an authorized user, or the merchant through third-party payment accounts, mobile or wireless card readers, online or mobile digital wallets, or similar technology will not qualify in a rewards category if the technology is not set up to process the purchase in that rewards category. Please note that we make every effort to include all relevant merchant codes in our rewards categories. However, even though a merchant, or some of the items that it sells, may appear to fit within a rewards category, the merchant may not have a merchant code in that category. When this occurs, purchases with that merchant will not qualify for rewards for purchases in that category.
                <br/><br/>
                <span class="fw-bold fs-2">
                    Redeeming Your Rewards</span><br/><br/>
                Statement Credits earned in the Rewards Program are generally posted to your Rewards Account at the end of each Card Account statement cycle but no later than 12 weeks after the end of the respective billing cycle on your Card Account.<br /><br />

                Redeeming for Statement Credits<br /><br />
                Redeemable Statement Credits can be applied to the outstanding balance on your Card Account. You are still required to make any minimum payment due on your Card Account. The maximum amount of Redeemable Statement Credits available for redemption at any given time will therefore be reduced by the amount of the minimum payment due on your Card Account at that time.<br /><br />

                Redeeming for Cash Rewards<br /><br />
                You can redeem Redeemable Statement Credits for a check made payable to you after your account has been open for at least 60 days. The minimum redemption amount for a check to be issued is $25. The check can only be sent to your address on record and will be mailed within 2 to 5 weeks of redemption. All cash redemptions are final. Additionally, your account must be current and in good standing for at least 60 days to be able to be issued a cash reward.<br /><br />

                Rewards Terms and Conditions<br /><br />
                For information about the amount of Redeemable Statement Credits available for redemption, please view your rewards balance in the Cardless mobile app or through the Cardless website. See the Cardless Alibaba.com Business Edge Card Rewards Program Agreement for full details. We reserve the right, in our sole discretion, to suspend, cancel, or modify the Rewards Program at any time and for any reason and without prior notice. Please see the Rewards Program Agreement for more information.<br /><br />
                <span class="fw-bold fs-2">
                    Pakmart Membership Benefits</span><br/><br/>
                Pakmart Coupons<br /><br />
                As an Pakmart Business Edge Credit Card cardholder with a linked Pakmart Membership, you are entitled to purchase coupons with a value up to $100.00 as follows (the “Alibaba.com Coupons”):<br /><br />

                One $20.00 coupon for a purchase of $21.00 or more made on Pakmart.<br /><br />
                One $30.00 coupon for a purchase of $31.00 or more made on Pakmart.<br /><br />
                One $50.00 coupon for a purchase of $51.00 or more made on Pakmart.<br /><br />
                As this benefit includes three separate coupons, you will need to make three separate Pakmart transactions to have utilized all $100 worth of the Pakmart Coupons. The coupon of the highest amount available at the time of your Pakmart purchase will be automatically applied to the purchase. For example, if all three coupons are available in your Pakmart Membership account and you make an Pakmart purchase of $100.00, the $50.00 coupon will be automatically applied to that purchase.<br /><br />

                The Pakmart Coupons will be credited to your Pakmart Membership account upon opening of your Card Account. The Purchase Coupons expire one year from the date of the opening of your Card Account. If you renew your Card Account at the time of annual renewal, the Pakmart Coupons for the subsequent Cardmembership Year will be credited to your Pakmart Membership account. If your Card Account is closed for any reason, the Pakmart Coupons will be forfeited. The Pakmart Coupons can only be applied to your total order price and cannot be used for taxes, payment processing fees, or similar fees and charges. The Alibaba.com Coupons must be used for purchases on Alibaba.com and cannot be exchanged for cash or gift cards.<br /><br />

                Shipping Discounts
                As an Pakmart Business Edge Credit Card cardholder with a linked Pakmart Membership, you are entitled to Shipping Discounts with a value up to $120.00 per Card Account. Every Shipping Discount will be automatically applied on the first order shipped through Pakmart Logistics once the Shipping Discount is issued. You can receive a shipping discount of $20 once every two months, up to 6 times per calendar year, for a total of $120. One Shipping Discount valued at $20.00 will be issued at the time of account opening. Thereafter, one (1) discount will be available on the first day of each two-month period at midnight (PST) until the five (5) remaining discounts have been issued. For example, if your Card is opened on September 29th, your first coupon would be issued on September 29th; your second coupon would be issued on November 1st; your third coupon would be issued on January 1st; your fourth coupon would be issued on March 1st; your fifth coupon would be issued on May 1st; and your sixth coupon would be issued on July 1st. If the shipping costs are less than $20, the maximum discount will be equal to the shipping amount. For example, if the shipping costs are $10, the order will only be reduced by $10. The discounts are non-refundable, must be applied before payment is made at Alibaba.com, and cannot be exchanged for cash and/or other gifts. If your Card Account is closed for any reason, the Shipping Discount will be forfeited. The Shipping Discounts can only be used to cover the shipping and transport cost on Alibaba.com orders shipped via Pakmart Logistics.<br /><br />

                90-Day Order Protection (Extended Trade Protection)
                As an Pakmart Business Edge Credit Card cardholder with a linked Pakmart Membership, you are automatically enrolled in Pakmart 90-Day Extended Order Protection benefit, which generally provides an extended period of time for qualified refunds on Pakmart purchases made with the Business Edge Credit Card.<br /><br />

                Pakmart reserves the right to revoke or cancel any benefits used for unauthorized sales.<br /><br />

                <span class="fw-bold fs-2">
                    Referral Program</span><br/><br/>
                Referral bonus subject to the terms and eligibility requirements set forth in the Earning Statement Credits Through Referral Programs of the Cardless Pakmart Business Edge Card Rewards Program Agreement. You can only receive a referral bonus as described in the Referral Program when an applicant applies using your unique link and is approved for a Cardless credit card prior to the expiration of this offer. You can receive the bonus for a maximum of 10 friends per calendar year. Allow up to ninety (90 days for the bonus to appear in your Rewards Account). See cardless.com/refer-a-friend for more details.<br /><br />

                <span class="fw-bold fs-2">
                    Miscellaneous</span><br/><br/>
                Accounts subject to credit approval. Restrictions and limitations apply. Offers subject to change. Terms not defined in these Offer Terms are defined in the Cardless Pakmart Business Edge Card Rewards Program Agreement and the Pakmart Business Edge Card Cardholder Agreement.<br /><br />

                The Pakmart Business Edge Credit Card is serviced by Cardless and issued by First Electronic Bank. Mastercard is a registered trademark, and the circles design is a trademark of Mastercard International Incorporated.<br /><br />

                Effective November 25, 2024.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row">
        <h3 class="fw-bold">Additional Disclosures</h3>

        <p>
            To use your virtual card "immediately" upon approval, download the Cardless app to start using your virtual card.<br/><br/>

            Mastercard is a registered trademark, and the circles design is a trademark of Mastercard International Incorporated. Apple Wallet is a trademark of Apple Inc., registered in the U.S. and other countries. Google Wallet and Paypal Wallet are trademarks, logos and brand names are the property of their respective owners. Use of these names, trademarks, and brands does not imply endorsement, and are used for identification purposes only. Any third parties listed are not affiliated with Cardless and are solely responsible for their products and services.<br /><br />

            Accounts subject to credit approval. Restrictions and limitations apply. Terms not defined in these Offer Terms and are defined in the Rewards Program Agreement or the Cardholder Agreement.<br /><br />

            The Pakmart  Business Edge Mastercard Credit Card is serviced by Cardless and issued by First Electronic Bank. Cardless only issues cards to residents of the US 50 states and District of Columbia.<br /><br />

            Cardless and Pakmart reserves the right to terminate or modify these offers at any time, including the types of benefits that are available for redemption with your rewards balance. For promotional purposes only. Go to the Help Center to learn more about this card.<br /><br />
        </p>

    </div>
</div>

