@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@


@*<nav class="navbar navbar-light bg-light px-5">
    <a class="navbar-brand text-orange fw-bold" href="#">Pkmrt.com</a>
    <span class="fw-bold">Help Center for Buyer</span>
    <div>
        <a href="#" class="text-success fw-bold me-3">HomePage</a>
        <a href="#" class="text-dark">FAQ</a>
    </div>
  
</nav>*@

<div class="container-fluid mt-5 px-5">
    <h4 class="fw-bold">Help Center</h4>
    <div class="row text-center mt-5">
        <div class="col-md-3 col-6 mb-3">
            <img src="~/images/feae3cbf8d4f4f3083353464134f1490-helphub-1671593631683-rc-upload-1671586634092-38.png" alt="Sourcing" class="img-fluid w-25">
            <h5>Sourcing on Pkmrt.com</h5>
            <p>Sourcing, Ordering, and Shipping</p>
        </div>
        <div class="col-md-3 col-6 mb-3">
            <img src="~/images/dbd187d6c6dd4795899c2fbac6b80b75-helphub-1671593646203-rc-upload-1671586634092-40.png" alt="Trade Assurance" class="img-fluid w-25">
            <h5>Trade Assurance</h5>
            <p>Protect Your Pkmrt.com Orders</p>
        </div>
        <div class="col-md-3 col-6 mb-3">
            <img src="~/images/b2a8ce88e80843a3954923a65576156a-helphub-1671593659758-rc-upload-1671586634092-42.png" alt="Get the App" class="img-fluid w-25">
            <h5>Get the APP</h5>
            <p>Download Pkmrt.com APP</p>
        </div>
        <div class="col-md-3 col-6 mb-3">
            <img src="~/images/649de8ef6bee44839b837a8f2659e8c0-helphub-1671587635341-rc-upload-1671586634092-32.png" alt="Logistics" class="img-fluid w-25">
            <h5>Pkmrt.com Logistics</h5>
            <p>Smart logistics services</p>
        </div>
    </div>

    <ul class="nav nav-tabs mt-5" id="helpTabs">
        <li class="nav-item">
            <a class="nav-link active bg-success text-white" href="#">
                <i class="fas fa-user"></i> My Account
            </a>
        </li>
        <li class="nav-item px-5">
            <a class="nav-link text-dark" href="#">
                <i class="fas fa-box"></i> Sourcing
            </a>
        </li>
        <li class="nav-item px-5">
            <a class="nav-link text-dark" href="#">
                <i class="fas fa-handshake"></i> Negotiation
            </a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link text-dark" href="#">
                <i class="fas fa-shopping-cart"></i> Order & Payment
            </a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link text-dark" href="#">
                <i class="fas fa-headset"></i> After-Sales
            </a>
        </li>
        <li class="nav-item px-4">
            <a class="nav-link text-dark" href="#">
                <i class="fas fa-tools"></i> Self-Service
            </a>
        </li>
    </ul>

    <div class="card mt-4">
        <div class="card-body">
            <ul class="d-flex list-unstyled pt-2">
                <li>What can I do if I forgot my password?</li>
                <li class="px-5 mx-3">Why cannot I receive the SMS verification code?</li>
                <li class="px-5 mx-2">How can I register an account on Pkmrt.com?</li>
                </ul>
            <ul class="d-flex list-unstyled pb-2">
                <li>What can I do if my account was deactivated?</li>
                <li class="px-4">Why cannot I receive the Email verification code?</li>
                <li class="px-5 mx-4">How do I delete verification phone number?</li>
            </ul>
        </div>
    </div>
</div>

<div class=" container-fluid px-5 mb-5">
    <h3 class="bg-light text-center p-3 mt-4">Contact Us</h3>
    <div class="row">
       
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="~/images/27971dcdea8341a89899e3cda97e396f-helphub-1603162860555-rc-upload-1603161626115-10.png" class="w-25"/>
                <p>
                    Online Service<br/>
                    24/7 Service for Buye
                </p>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="~/images/92fea2f7ec3d4f52ae264548cd3adc1e-helphub-1603162869896-rc-upload-1603161626115-12.png" class="w-25"/>
                <p>
                    Survey<br/>
                    Leave Feedback
                </p>
            </div>




    </div>
</div>
