@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@


<div class="container-fluid py-5 px-5">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/pic211.png" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    
                    <h5 class="card-title">
                        Construction and Engineering Machinery: The Worldwide Market
                    </h5>
                    <p class="card-text mt-3">
                        What's the current state of the Construction & Machinery industry? Want to know how to grow your machinery business? With the latest research from industry experts and trends on Pkmrt.com
                    </p>
                   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/pic212.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">LED Lighting: A Global Market Overview With a Focus on China</h5>
                    <p class="card-text mt-3">
                        What's the current state of the LED lighting industry? What are the key drivers of the industry? Find out all this and much more in our LED lighting report!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/pic213.png" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                  
                    <h5 class="card-title"> 2023 Apparel Market E-book</h5>
                    <p class="card-text mt-3">
                       
                        We're excited to present the 2023 Apparel Market E-book. With the latest research from industry experts and trends on Pkmrt.com, get an inside look at the Apparel market.
                    </p>
                 

                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/pic214.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-5">
                    
                    <h5 class="card-title">
                        Source smarter with this new, free ebook
                    </h5>
                    <p class="card-text mt-3">
                        The top sourcing tips, tricks, and trends from Inc. and Pkmrt.com
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/pic215.jpg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body mb-5">
                    <h5 class="card-title">2022 Sourcing Guide for Retailers: Riding the CES Wave</h5>
                    <p class="card-text mt-3">
                        To fully capitalize on CES trends, retailers must ensure that they have the right sought-after products in stock when consumer demand comes.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/pic216.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title"> Top 5 Home Decor products for 2022</h5>
                    <p class="card-text">
                        You already know that the Home Decor market is strong, but do you know which products are trending and how can you reliably source them? That's the tricky part.
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div class="row g-4 mt-4">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic217.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    
                    <h5 class="card-title">Stay ahead in the global hardware trade</h5>
                    <p class="card-text mt-3">
                        We know hardware is a crucial product for global development. But do you know which hardware products saw the most significant increase in sales and popularity in both European and American
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic218.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title"> Official Trends Forecast: Packaging and Paper – Eco-conscious packaging is growing in the market</h5>
                    <p class="card-text">
                        How the demand for sustainable and eco-friendly containers is a sign a ‘green’ revolution is underway in the packaging and printing market.
                    </p>
                   
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic219.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title"> Official Trends Forecast: Machinery – Construction demand is shifting the market</h5>
                    <p class="card-text">
                        Earth-moving equipment is really shaking up the Machinery market. See how much momentum it has built in this industry report.

                    </p>
                </div>
            </div>
        </div>
    </div>




    <div class="row g-4 mt-4">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic220.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">Official Trends Forecast: Beauty & Personal Care – Eco-friendly beauty options are hot in 2022</h5>
                    <p class="card-text">
                        Demand for ecologically kinder products with a lower environmental impact is growing rapidly. This report outlines how far the market has moved towards more natural beauty products.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic221.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title"> Official Trends Forecast: Machinery – Personalization is driving the Auto Accessory market</h5>
                    <p class="card-text pt-4">
                        Young buyers want vehicles that say something about who is behind the wheel. Customizations are a strong market trend, and this report tells you which products have taken the lead.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic222.jpeg" class="card-img-top img-fluid" alt="Person Image" style="height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">
                        The Pkmrt.com September 2021 B2B Pulse
                    </h5>
                    <p class="card-text pt-5">
                        See the top 5 things affecting US SMBs and the data trends we are seeing on Pkmrt.com in September 2021.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div class="row g-4 mt-4">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic223.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">Plastic Extrusion Machines Buyer Report 2021 - Insights for a Winning Procurement Strategy</h5>
                    <p class="card-text">
                        Check out our 2021 Industry Report on Plastic Extrusion Machines to get a detailed overview of the global market and learn about the key players and market drivers you need to know about
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic224.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">  Injection Mold Machines Buyer Report 2021 - Insights for a Winning Procurement Strategy</h5>
                    <p class="card-text">
                        Our 2021 Industry Report on Injection Molding Machines highlights the global market, broken down by market size, share, characteristics and more. Injection molding machines have been
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic225.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">Sports & Entertainment Buyer Report 2021 - Insights for a Winning Procurement Strategy</h5>
                    <p class="card-text">
                        Our 2021 Industry Report on Sports and Entertainment details buyer interest, sales trends, and more across a wide variety of product categories like fitness, body building, amuseme
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div class="row g-4 mt-4">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic226.jpg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">Consumer Electronics Buyer Report 2021 - Insights for a Winning Procurement Strategy</h5>
                    <p class="card-text">
                        This industry report highlights key learnings concerning the consumer electronics industry in 2021. Explore key products, best sellers, consumer behavior, industry insights, top
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic227.png" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">Vehicles & Accessories Buyer Report 2021 - Insights for a Winning Procurement Strategy</h5>
                    <p class="card-text pt-5">
                        In our 2021 Industry Report on Vehicles & Accessories, you can find detailed analysis on the top categories, features, keywords, and more across categories like automotive life, safe
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="~/images/pic228.jpeg" class="card-img-top img-fluid" alt="Person Image">
                <div class="card-body">
                    <h5 class="card-title">Home Decoration Buyer Report 2021 - Insights for a Winning Procurement Strategy</h5>
                    <p class="card-text pt-5">
                        Global trade for home decor construction and real estate materials has been considerably impacted over the past year. In this report you'll learn about the best selling products in furniture, lighting,
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
