@* <div class="container-fluid pp shadow-sm"> *@
@*     <div class="row align-items-center"> *@
@*         <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0 px-5 mt-4 mb-4"> *@
@*             <h4>Welcome to PakMart</h4> *@
@*         </div> *@
@*         @* <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-end gap-3 px-5 mt-4 mb-4"> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic5 (1).png" alt="Request for Quotation" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Request for Quotation</p> *@ 
@*         @*     </div> *@ 
@*         @*     <div class="d-flex align-items-center gap-2"> *@ 
@*         @*         <img src="~/images/pic9.png" alt="Source with Accio AI" height="27"> *@ 
@*         @*         <p class="mb-0 text-decoration-underline">Source with Accio AI</p> *@ 
@*         @*     </div> *@ 
@*         <div class="d-flex align-items-center gap-2"> *@
@*             <img src="~/images/O1CN01lsRQD61TN38OdPQoc_!!6000000002369-2-tps-82-80.png" alt="Alibaba.com Logistics" height="27"> *@
@*             <p class="mb-0 text-decoration-underline"> *@
@*                 <a class="text-decoration-none text-dark" asp-action="logistics" asp-controller="Pakmart">Pakmart.com Logistics</a> *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
    <div class="container-fluid cc mt-5">
        <div class="row">
            <div class="">
                <img src="~/images/O1CN01L5FcWy1iazQCc6aqn_!!6000000004430-55-tps-305-46.svg" class="mt-5 mx-5" />
                <h2 class="display-4 fw-bold mx-5 mt-2">
                    Enjoy protection from<br /> payment to delivery on <br />Pakmart.com
                </h2>
                <button class="btn btn-success mx-5 pt-2 pb-2">See how it works</button>
            </div>

        </div>
    </div>



    <!-- Features Section -->
    <section class="tt">
        <div class="container-fluid py-5">
            <div class="row mx-4">
                <div class="col-md-6">
                    <h2>Trade Assurance covers every stage of your purchasing journey</h2>
                    <p class="mt-3 fs-5 text-muted">
                        We provide buyers on Pakmart.com with secure ways to pay, protect against unforeseen circumstances such as product or shipping issues, and mediate between buyers and suppliers to resolve any issues related to the purchase.
                    </p>
                </div>
                <div class="col-md-6 pt-5">
                    <div class="row text-center">
                        <div class="col-6">
                            <h2 class="text-success mt-3 fw-bold">160M+</h2>
                            <p class="fw-bold">Trade Assurance orders</p>
                        </div>
                        <div class="col-6">
                            <h2 class="text-success mt-3 fw-bold">35M+</h2>
                            <p class="fw-bold">Purchased from us</p>
                        </div>
                        <div class="col-6">
                            <h2 class="text-success mt-3 fw-bold">200K+</h2>
                            <p class="fw-bold">Suppliers</p>
                        </div>
                        <div class="col-6">
                            <h2 class="text-success mt-3 fw-bold">200M+</h2>
                            <p class="fw-bold">Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="text-center fw-bold">How we protect your purchases on Pakmart.com</h1>
                <p class="mt-2 text-center fs-5">Trade Assurance makes it easier and safer for both buyers and suppliers to do business globally. Here is how it works.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3> <span class="bg-success rounded-circle text-white p-1 me-2">01</span> Start Trade Assurance order</h3>
                <p class="mx-5">You reach an order agreement with a supplier on Pakmart.com.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3> <span class="bg-success rounded-circle text-white p-1 me-2">02</span> Pay through Pakmart.com</h3>
                <p class="mx-5">Check out with an online payment method or make a wire transfer via Pakmart.com.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3> <span class="bg-success rounded-circle text-white p-1 me-2">03</span> Payment held in escrow</h3>
                <p class="mx-5">Your payment is held in escrow and released to the supplier after the product is received and confirmed.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h4> <span class="bg-success rounded-circle text-white p-1 me-2">04</span> Get money back if order terms are not met</h4>
                <p class="mx-5">We will assist you in reaching a resolution, including refunds or compensation for order issues.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <video class="img-fluid" controls>
                <source src="~/images/87d658fc89dc8ea7.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

<div class="py-5 tt text-center mt-5 mb-5" >
    <div class="container">
        <h2 class="mb-4">What is covered</h2>
        <div class="row g-4">
            <div class="col-md-3 col-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="rounded-circle bg-white d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 60px; height: 60px;">
                           <img src="~/images/pic165.png"/>
                        </div>
                        <a href="#" class="text-decoration-none text-dark">Safe & easy payments</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="rounded-circle bg-white d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 60px; height: 60px;">
                            <img src="~/images/pic166.png" />
                        </div>
                        <a href="#" class="text-decoration-none text-dark">Money-back policy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="rounded-circle bg-white d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 60px; height: 60px;">
                            <img src="~/images/pic167.png" />
                        </div>
                        <a href="#" class="text-decoration-none text-dark">Shipping & logistics services</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="rounded-circle bg-white d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 60px; height: 60px;">
                            <img src="~/images/pic168.png" />
                        </div>
                        <a href="#" class="text-decoration-none text-dark">After-sales protections</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


<div class="container-fluid mt-3">
    <div class="row mx-4">
        <!-- Left Column -->
        <div class="col-lg-6 mb-4 mb-lg-0">
            <h3 class="fw-bold">Safe & easy payments</h3>
            <ul class="list-unstyled">
                <li class="fs-5 mt-3">Every payment you make through Pakmart.com is encrypted, secure, and processed in as quickly as 2 hours.</li>
                <li class="fs-5 mt-5">Pay with any major online payment method or make a bank-to-bank wire transfer, all in your local currency.</li>
                <li class="fs-5 mt-5">You may also be eligible for flexible financing, such as Payment Terms: 30/60 Days* to free up your cash flow.</li>
            </ul>
            <div class="mt-5">
                <button class="btn btn-success px-3 mb-2 rounded-pill">Source supporting products</button>
                <button class="btn btn-outline-success px-3 mb-2 rounded-pill">Learn how it works</button>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-6">
            <video src="~/images/e94bb47cad32a876.mp4" class="w-100 mx-3 h-75" controls></video>
        </div>
    </div>

    <div class="row mt-3 bg-light pt-5 ">
        <!-- Left Column -->
        <div class="col-lg-6 mb-4 mb-lg-0 px-3">
            <video src="https://play.video.alibaba.com/global/play/419458547261.mp4" class="w-100 h-75" controls></video>
        </div>

        <!-- Right Column -->
        <div class="col-lg-6 px-3">
            <h3 class="fw-bold mt-3">Money-back policy</h3>
            <ul class="list-unstyled">
                <li class="mt-2 fs-5">Claim a refund to get your money back if your order has not been shipped, goes missing, or arrives with defects, incorrect items, damages, or other product-related issues.</li>
                <li class="mt-5 fs-5">If you are in an eligible country*, you can also take advantage of our Easy Return service to return defective products locally for free.</li>
            </ul>
            <div class="mt-5">
                <button class="btn btn-success px-3 mb-2 rounded-pill">Source supporting products</button>
                <button class="btn btn-outline-success px-3 mb-2 rounded-pill">Learn how it works</button>
                <p class="text-muted mt-5" style="font-size: 13px;">*Available for orders under US $3,000 and to buyers in Australia, Belgium, Canada, Chile, Czech Republic, France, Germany, Israel, Italy, Japan, Korea, Mexico, Netherlands, Pakistan, Poland, Portugal, Russia, Saudi Arabia, Spain, Switzerland, Ukraine, United Arab Emirates, the United Kingdom, the United States and more to come. Read our terms and conditions for full eligibility requirements.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 mx-4 mb-5">
        <div class="col-lg-12">
            <h3 class="fw-bold">Shipping & logistics services</h3>
            <ul class="list-unstyled">
                <li class="fs-6 mt-3">Reduce inventory uncertainty knowing your order will be delivered by a fixed date or you receive platform compensation with our On-time Delivery Guarantee.</li>
                <li class="fs-6 mt-4">With Pakmart.com Logistics, you can enjoy the reliability of our own logistics network and track your shipment in real-time for most countries and regions around the world.</li>
                
            </ul>
            <div class="mt-4">
                
                <button class="btn btn-outline-success px-3 mb-2 rounded-pill">Learn how it works</button>
            </div>
        </div>
        
    </div>
    <div class="container position-relative">
        <!-- Image -->
        <img src="~/images/banner3.jpg" class="w-100" style="height: 25%;" alt="Banner Image">

        <!-- Black Opacity Overlay -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-3 bg-light pt-5 ">
        <!-- Left Column -->
        <div class="col-lg-6 mb-4 mb-lg-0 px-3">
            <video src="https://play.video.alibaba.com/global/play/419174939879.mp4" class="w-100 h-75" controls></video>
        </div>

        <!-- Right Column -->
        <div class="col-lg-6 px-3">
            <h3 class="fw-bold mt-3">After-sales protections</h3>
            <ul class="list-unstyled">
                <li class="mt-2 fs-5">Get support at your doorstep with our on-site installation, maintenance, repair and free replacement parts services for eligible products.</li>
                
            </ul>
            <div class="mt-5">
                <button class="btn btn-success px-3 mb-2 rounded-pill">Source supporting products</button>
                <button class="btn btn-outline-success px-3 mb-2 rounded-pill">Learn how it works</button>
                
            </div>
        </div>
    </div>
</div>
